.skills {
    top: 70vh;
    position: absolute;
    color: white;
    width: 90%;
    left: 5%;
}
.skillsheader {
    top: 70vh;
    position: absolute;
    color: tan;
    // margin-left: 11vw;
    text-align: center;
    width: 100%;
    margin-top: 3vh;
    font-size: 1.7rem;
}